* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: system-ui, sans-serif;
}

body {
  min-height: 100vh;
}

#app {
  display: contents;
}

ul {
  list-style-type: none;
}
